@using RH.Domain.Dtos.Views
@model IEnumerable<FuncionarioDepartamentoView>

<!DOCTYPE html>
<html>
<head>
    <style>
        table{
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div>
        <h1>Funcionarios no setor @Model.First().Departamento</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.Registro)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Funcao)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Registro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcao)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Departamentos")'"
</body>
</html>