@model RH.Domain.Dtos.Views.DepartamentoViewDtoResult

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <h1>Editar departamento @Model.NomeDepartamento / @Model.SubDepartamento</h1>
    <br />
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <strong> Departamento:</strong>
        <br />
        <input type="text" name="NomeDepartamento" value="@Model.NomeDepartamento">
        <strong class="text-danger">@Html.ValidationMessageFor(f => f.NomeDepartamento)</strong>
        <br />

        <strong> Sub-Departamento:</strong>
        <br />
        <input type="text" name="SubDepartamento" value="@Model.SubDepartamento">
        <strong class="text-danger">@Html.ValidationMessageFor(f => f.SubDepartamento)</strong>
        <br />
        <br />

        <input class="btn btn-warning" type="submit" value="Editar" />
        <input class="btn btn-secondary" type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Departamentos")'" />
    }
</body>
</html>