@using RH.Domain.Dtos.Views
@model IEnumerable<DepartamentoViewDtoResult>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="button-container">
        <div class="button-list-container">
            <input class="btn btn-secondary" type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Home")'" />
            <input class="btn btn-success" type="button" value="Cadastrar" onclick="location.href='@Url.Action("Cadastrar","Departamentos")'" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.NomeDepartamento)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.SubDepartamento)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.NumeroFuncionario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFuncionario)
                    </td>
                    <td class="table-options">
                        <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalhes</a> /
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>