@using RH.Domain.Dtos.Views
@model IEnumerable<DepartamentoViewDtoResult>

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div>
        <input type="button" value="Cadastrar" onclick="location.href='@Url.Action("Cadastrar","Departamentos")'" />
    </div>

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.NomeDepartamento)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.SubDepartamento)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.NumeroFuncionario)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubDepartamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFuncionario)
                    </td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> /
                        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Home")'"
</body>
</html>