@model WEBAPP.MVC.Modulos.RecursosHumanos.Models.FuncionarioModel

<div class="container row">
    <div class="card container col-9 text-center" style="background-color:#CEECF2;">
        <div>
            <h2><i class="fas fa-briefcase"></i>Dados Empresariais</h2>
            <div class="row">
                <div class="col">
                    <p>Número de registro: </p>
                    <input type="text" class="text-center" value=@Model.Registro disabled>
                </div>
                <div class="col">
                    <p>Função: </p>
                    <input type="text" class="text-center" value=@Model.Funcao disabled>
                </div>
                <div class="col">
                    <p>Departamento: </p>
                    <input type="text" class="text-center" value=@Model.Departamento disabled>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Data de admissão: </p>
                    <input type="text" class="text-center" value=@Model.Admissao disabled />
                </div>
                <div class="col">
                    <p>Data de demissão: </p>
                    <input type="text" class="text-center" value=@(Model.Demissao < Model.Admissao ? "n/A" : Model.Demissao) disabled />
                </div>
            </div>
        </div>

        <div class="">
            <h2><i class="fas fa-user"></i>Dados Bancários</h2>
            <div class="row">
                <div class="col">
                    <p>Código do banco: </p>
                    <input type="text" class="text-center" value=@Model.ContaBancaria.Banco disabled>
                </div>
                <div class="col">
                    <p>Agencia: </p>
                    <input type="text" class="text-center" value=@Model.ContaBancaria.Agencia disabled>
                </div>
                <div class="col">
                    <p>Conta corrente: </p>
                    <input type="text" class="text-center" value=@Model.ContaBancaria.ContaCorrente disabled>
                </div>
            </div>
        </div>

        <div class="" style="padding-bottom:20px;">
            <h2><i class="fas fa-user"></i>Endereço</h2>
            <div class="row">
                <div class="col-4">
                    <p>Rua: </p>
                    <input type="text" class="text-center" value=@Model.Endereco.Rua disabled>
                </div>
                <div class="col-4">
                    <p>Numero: </p>
                    <input type="text" class="text-center" value=@Model.Endereco.Numero disabled>
                </div>
                <div class="col-4">
                    <p>Complemento: </p>
                    <input type="text" class="text-center" value=@Model.Endereco.Complemento disabled>
                </div>
                <div class="col">
                    <p>Cep: </p>
                    <input type="text" class="text-center" value=@Model.Endereco.Cep disabled>
                </div>
                <div class="col">
                    <p>Municipio: </p>
                    <input type="text" class="text-center" value="@(Model.Endereco.Municipio.NomeMunicipio) / @(Model.Endereco.Municipio.Uf.Sigla)" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="card container col-3 text-center" style="background-color:#4BAABF;">
        <div class="card-body">
            <img class="rounded-circle" src="@Model.FotoPerfil" alt="Image" height=200 width=200 />
            <h2 class="">
                @(Model.NomeSocial ?? Model.Nome)
                @if (Model.Sexo == WEBAPP.MVC.Modulos.RecursosHumanos.Models.Enum.Genero.Masculino)
                {
                    <i class="fas fas-user"></i>
                }
                else
                {
                    <i class="fas fa-briefcase"></i>
                }
            </h2>
            @if (@Model.NomeSocial != null)
            {
                <h4 class="">@Model.Nome</h4>
            }
            @Model.Email
            <br />
            Nascimento: @(Model.DataNascimento.ToString("dd/MM/yyyy"))
            <br />
            CPF: @Model.Cpf
            <br />
            Rg: @Model.RG
        </div>
    </div>
</div>