@using RH.Domain.Dtos.Views
@model IEnumerable<FuncaoViewDtoResult>

<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>

<body>
    <div class="button-container" id="button-list-container">
        <input class="btn btn-secondary" type="button" value="Voltar" onclick="location.href='@Url.Action("Index","Home")'" />
        <input class="btn btn-success" type="button" value="Cadastrar" onclick="location.href='@Url.Action("Cadastrar","Funcoes")'" />
        <input class="btn btn-warning" type="button" value="Aumentar Salario" onclick="location.href='@Url.Action("AumentarTodosSalarios","Funcoes")'">
    </div>
 

    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(x => x.NomeFuncao)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.NumeroFuncionarios)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeFuncao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroFuncionarios)
                    </td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalhes</a> /
                        <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Editar</a> /
                        <a asp-action="AumentarSalario" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Aumentar Salário</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>