@model RH.Domain.Dtos.Input.FuncionarioCadastroDto


<h1>Cadastrar novo funcionario</h1>

@using(Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>Nome:</div>
    <input type="text" name="Nome" value=@(Model == null ? "" : @Model.Nome)>
    @Html.ValidationMessageFor(f => f.Nome)

    <br />

    <div>Nome Social:</div>
    <input type="text" name="NomeSocial" value=@(Model == null ? "" : @Model.NomeSocial)>
    @Html.ValidationMessageFor(f => f.NomeSocial)

    <br />

    <div>CPF:</div>
    <input type="text" name="CPF" value=@(Model == null ? "" : @Model.Cpf)>
    @Html.ValidationMessageFor(f => f.Cpf)

    <br />

    <div>RG:</div>
    <input type="text" name="RG" value=@(Model == null ? "" : @Model.RG)>
    @Html.ValidationMessageFor(f => f.RG)

    <br />

    <div>Email:</div>
    <input type="text" name="Email" value=@(Model == null ? "" : @Model.Email)>
    @Html.ValidationMessageFor(f => f.Email)

    <br />

    <div>Sexo:</div>
    <select name="Sexo" items=""@Html.DropDownList("Sex")"" ></select> 
    @Html.ValidationMessageFor(f => f.Sexo)
    
    <div>Admissao:</div>
    <input type="date" name="Admissao" value=@(Model == null ? "" : @Model.Admissao)>
    @Html.ValidationMessageFor(f => f.Admissao)

    <div>Banco:</div>
    <input type="text" name="Banco" value=@(Model == null ? "" : @Model.Banco)>
    @Html.ValidationMessageFor(f => f.Banco)

    <div>Agencia:</div>
    <input type="text" name="Agencia" value=@(Model == null ? "" : @Model.Agencia)>
    @Html.ValidationMessageFor(f => f.Agencia)

    <div>Conta:</div>
    <input type="text" name="ContaCorrente" value=@(Model == null ? "" : @Model.ContaCorrente)>
    @Html.ValidationMessageFor(f => f.ContaCorrente)

    <div>Cep:</div>
    <input type="text" name="Cep" value=@(Model == null ? "" : @Model.Cep)>
    @Html.ValidationMessageFor(f => f.Cep)

    <div>Numero:</div>
    <input type="text" name="Numero" value=@(Model == null ? "" : @Model.Numero)>
    @Html.ValidationMessageFor(f => f.Numero)

    <div>Complemento:</div>
    <input type="text" name="Complemento" value=@(Model == null ? "" : @Model.Complemento)>
    @Html.ValidationMessageFor(f => f.Complemento)

    <div>Departamentos:</div>
    <select name="DepartamentoId" items="@Html.DropDownList("Deptos")" ></select> 
    @Html.ValidationMessageFor(f => f.DepartamentoId)

    <div>Funcao:</div>
    <select name="FuncaoId" items="@Html.DropDownList("Funcs")" ></select> 
    @Html.ValidationMessageFor(f => f.FuncaoId)

    <input type="submit" value="Create" class="btn btn-primary" />
}