@using System.Globalization
@model RH.Domain.Dtos.Views.FuncionarioViewDtoResult

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        @using(@Html.BeginForm())
    {
         @Html.ValidationSummary(true)

    <div>Nome:</div>
    <input type="text" name="Nome" value=@(Model == null ? "" : @Model.Nome)>
    @Html.ValidationMessageFor(f => f.Nome)

    <br />

    <div>Nome Social:</div>
    <input type="text" name="NomeSocial" value=@(Model == null ? "" : @Model.NomeSocial)>
    @Html.ValidationMessageFor(f => f.NomeSocial)

    <br />

    <div>CPF:</div>
    <input type="text" name="CPF" value=@(Model == null ? "" : @Model.Cpf)>
    @Html.ValidationMessageFor(f => f.Cpf)

    <br />

    <div>RG:</div>
    <input type="text" name="RG" value=@(Model == null ? "" : @Model.RG)>
    @Html.ValidationMessageFor(f => f.RG)

    <br />

    <div>Email:</div>
    <input type="text" name="Email" value=@(Model == null ? "" : @Model.Email)>
    @Html.ValidationMessageFor(f => f.Email)

    <div>Sexo:</div>
    <select name="Sexo" items=""@Html.DropDownList("Sex")"" ></select> 
    @Html.ValidationMessageFor(f => f.Sexo)

        @if (((DateTime)@Model.Admissao) > DateTime.Now)
        {
            <div>Admissao:</div>
            <input type="date" name="Admissao" value=@(Model == null ? "" : ((DateTime)@Model.Admissao).ToString("yyyy-MM-dd"))>
            @Html.ValidationMessageFor(f => f.Admissao)
        }

    <div>Departamentos:</div>
    <select name="DepartamentoId" items="@Html.DropDownList("Deptos")" ></select> 
    @Html.ValidationMessageFor(f => f.DepartamentoId)

    <div>Funcao:</div>
    <select name="FuncaoId" items="@Html.DropDownList("Funcs")" ></select> 
    @Html.ValidationMessageFor(f => f.FuncaoId)

    <input type="submit" value="Editar" class="btn btn-primary" />
    }
</body>
</html>